<!DOCTYPE html>
<html>
<head>
  <title>AIC</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
  <script src='//api.tiles.mapbox.com/mapbox.js/v1.5.1/mapbox.js'></script>
  <link href='//api.tiles.mapbox.com/mapbox.js/v1.5.1/mapbox.css' rel='stylesheet' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
</head>
<body>
<style>
.map-tooltip {
    width:300px !important;
    max-width:900px !important;
}
</style>
<%= yield %>

</body>
</html>
