<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<div id='map' class='dark'></div>
<script type='text/javascript'>
  var map = L.mapbox.map('map', 'rudolph9.AIC', {
    gridLayer: {},
    // This line redefines part of the underlying code which
    // sanitizes HTML from MapBox Hosting. The original code is there
    // for the protection of sites, so that malicious map-creators
    // can't add cross-site scripting attacks to sites that use their
    // maps.
    // Turning it off allows any content to be available in tooltips.
    // It's recommended to only with trusted maps.
    gridControl: {
        sanitizer: function(x) { return x; }
    }
  }).setView([37.9, -77], 5);
</script>
